In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
! pip install -i https://test.pypi.org/simple/ my-krml-13042801

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: my-krml-13042801 in c:\users\bert_\projects\adv_mla_2024\adv_mla_lab3\.venv\lib\site-packages (2024.0.1.2)
Requirement already satisfied: pandas==2.2.2 in c:\users\bert_\projects\adv_mla_2024\adv_mla_lab3\.venv\lib\site-packages (from my-krml-13042801) (2.2.2)
Requirement already satisfied: scikit-learn==1.5.1 in c:\users\bert_\projects\adv_mla_2024\adv_mla_lab3\.venv\lib\site-packages (from my-krml-13042801) (1.5.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\bert_\projects\adv_mla_2024\adv_mla_lab3\.venv\lib\site-packages (from pandas==2.2.2->my-krml-13042801) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bert_\projects\adv_mla_2024\adv_mla_lab3\.venv\lib\site-packages (from pandas==2.2.2->my-krml-13042801) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bert_\projects\adv_mla_2024\adv_mla_lab3\.venv\lib\site-packages (from pandas==2.2.2->my-krml-13042801) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bert_\projects\adv_mla_2024\adv_mla_lab3\.venv\lib\site-packages (from pandas==2.2.2->my-krml-13042801) (2024.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\bert_\projects\adv_mla_2024\adv_mla_lab3\.venv\lib\site-packages (from scikit-learn==1.5.1->my-krml-13042801) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\bert_\projects\adv_mla_2024\adv_mla_lab3\.venv\lib\site-packages (from scikit-learn==1.5.1->my-krml-13042801) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\bert_\projects\adv_mla_2024\adv_mla_lab3\.venv\lib\site-packages (from scikit-learn==1.5.1->my-krml-13042801) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\bert_\projects\adv_mla_2024\adv_mla_lab3\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.2->my-krml-13042801) (1.16.0)

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../data/raw/archive.zip')

In [5]:
df.head()

  General_Health  ... FriedPotato_Consumption
0           Poor  ...                    12.0
1      Very Good  ...                     4.0
2      Very Good  ...                    16.0
3           Poor  ...                     8.0
4           Good  ...                     0.0

[5 rows x 19 columns]

In [6]:
df.shape

(308854, 19)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308854 entries, 0 to 308853
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   General_Health                308854 non-null  object
 1   Checkup                       308854 non-null  object
 2   Exercise                      308854 non-null  object
 3   Heart_Disease                 308854 non-null  object
 4   Skin_Cancer                   308854 non-null  object
 5   Other_Cancer                  308854 non-null  object
 6   Depression                    308854 non-null  object
 7   Diabetes                      308854 non-null  object
 8   Arthritis                     308854 non-null  object
 9   Sex                           308854 non-null  object
 10  Age_Category                  308854 non-null  object
 11  Height_(cm)                   308854 non-null  float64
 12  Weight_(kg)                   308854 non-null  float64
 13  BMI                           308854 non-null  float64
 14  Smoking_History               308854 non-null  object
 15  Alcohol_Consumption           308854 non-null  float64
 16  Fruit_Consumption             308854 non-null  float64
 17  Green_Vegetables_Consumption  308854 non-null  float64
 18  FriedPotato_Consumption       308854 non-null  float64
dtypes: float64(7), object(12)
memory usage: 44.8+ MB

In [8]:
df.describe()

         Height_(cm)  ...  FriedPotato_Consumption
count  308854.000000  ...            308854.000000
mean      170.615249  ...                 6.296616
std        10.658026  ...                 8.582954
min        91.000000  ...                 0.000000
25%       163.000000  ...                 2.000000
50%       170.000000  ...                 4.000000
75%       178.000000  ...                 8.000000
max       241.000000  ...               128.000000

[8 rows x 7 columns]

#### Split Data

In [9]:
df_cleaned = df.copy()

In [10]:
target = df_cleaned.pop('Heart_Disease')
target = target.map({'Yes': 1, 'No': 0})

In [11]:
from my_krml_13042801.data.sets import split_sets_random

X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(df_cleaned, target, test_ratio=0.2)

In [12]:
from my_krml_13042801.data.sets import save_sets

save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='../data/processed/')

#### Baseline

In [13]:
from my_krml_13042801.models.null import NullClassifier

In [14]:
base_model = NullClassifier()

In [15]:
y_base = base_model.fit_predict(y_train)

In [16]:
from my_krml_13042801.models.performance import print_classifier_scores

print_classifier_scores(y_preds=y_base, y_actuals=y_train, set_name='Training')

Accuracy Training: 0.9196112502158522
F1 Training: 0.0